<!--<div>-->
  <!--<label>书名：<input /></label>-->
  <!--<div><span>id: </span>{{id}}</div>-->
  <div><label>name:<input [(ngModel)]="name" placeholder="name"></label></div>
  <button class="head search" (click)="search(bookName.value)">搜索</button>
  <button class="head add" (click)="add(bookName.value)">新增</button>
<!--</div>-->
<div>
  <ul class="books">
    <li (click)="onSelect(book)">
      <span class="badge">书名：{{book.name}}</span> 描述：{{book.description}}
      <span class="badge" (click)="edit(bookName.value)">编辑</span>
      <span class="badge" (click)="detail(bookName.value)">详情</span>
      <span class="badge" (click)="borrow(bookName.value)">借阅</span>
      <span class="badge" (click)="return(bookName.value)">还书</span>
      <span class="badge" (click)="delete(bookName.value)">删除</span>
    </li>
  </ul>
</div>
